@use "../base/variables" as *;
@use "../base/mixins" as *;


.news-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: $shadow-sm;
  opacity: 1;
  transform: translateY(0);
  transition: box-shadow .2s ease-in;
  overflow-wrap: anywhere;

  &:hover {
    box-shadow: $shadow-lg;

    img { transform: scale(1.06); }
  }

  &--sm {
    .news-card-footer { padding-block: 15px; }

    @include bp(sm) {
      img { height: 156px; }
    }
  }

}

.news-card-img {
  max-height: 306px;
  overflow: hidden;
  
  img {
    width: 100%;
    transition: transform .3s ease-in-out;
  }
}

.news-card-footer {
  padding: 25px; 
}

.news-card-title {
  display: inline-block;
  margin-bottom: 12px;

  &:hover { color: $primary; }
}

.news-card-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px 24px;
  margin-bottom: 15px;
  color: $gray-700;
  font-size: 14px;

  & > *:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -12px;
      display: none;
      transform: translateY(-50%);
      width: 1px;
      height: 16px;
      background-color: $gray-700;
    }
  }

  & > *:first-child::after {
    display: block;
  }

  @include bp(xs) {
      & > *:not(:last-child)::after {
        display: block;
    }
  }

}

.news-card-comment {
  display: none;

  &:hover { 
    color: $gray-800; 
  }

  @include bp(xs) {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.news-card-text {
  color: $gray-800;
}