@use '../base/variables' as *;
@use "../base/mixins" as *;


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 15px;
}

.login__header {
  margin-bottom: 24px;
  text-align: center;

  h1 {
    font-size: 46px;
  }

  p {
    font-size: 14px;
    color: $gray-700;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  button {
    margin-top: 12px;
  }
}

